---
- name: Deploy CloudFormation stack
  hosts: localhost
  connection: local
  gather_facts: false
  
  vars:
    template_path: "{{ (playbook_dir, '..', 'fronend.yaml') | path_join | realpath }}"
    cfn_parameters:
      DomainName: 'danphillipsonline.com'
      ACMCertificateArn: 'arn:aws:acm:us-east-1:085843960294:certificate/8c6d186b-89e6-474d-92a2-5924cde3f43a'
    aws_region: 'us-east-1'
    aws_profile: "{{ lookup('env', 'AWS_PROFILE') | default('default', true) }}"
    
  tasks:
    - name: Deploy or Update CloudFormation stack
      amazon.aws.cloudformation:
        region: "{{ aws_region }}"
        profile: "{{ aws_profile }}"
        stack_name: frontend-stack
        state: present
        template_body: "{{ lookup('file', template_path) }}"
        template_parameters: "{{ cfn_parameters }}"
        capabilities:
          - CAPABILITY_NAMED_IAM
          - CAPABILITY_AUTO_EXPAND
        on_create_failure: DO_NOTHING
      register: cfn_result
      
    - name: Show stack outputs
      debug:
        var: cfn_result.stack_outputs